
@model WebApp.Models.Usuarios.CreateUsuarioViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  ViewData["Title"] = "Alta de Nuevo Usuario";
}

<h1>Alta de Nuevo Usuario</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia1" class="control-label"> Contraseña </label>
                <input asp-for="Contrasenia1" type="password" class="form-control" />
                <span asp-validation-for="Contrasenia1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Contrasenia2" class="control-label">Confirmar Contraseña</label>
                <input name="Contrasenia2" type="password" class="form-control" />
               <span asp-validation-for="Contrasenia2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

